<md-dialog aria-label="Type you password">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
          <h2>Enter your password!</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Your user must have sudo privileges</h2>
         <form ng-cloak name="pwdForm">
            <div layout="row">
                <md-input-container flex="80">
                    <label>Password</label>
                    <input required type="password" name="password" ng-model="password" >
                    <div ng-messages="pwdForm.password.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            You must enter your password.
                        </div>
                    </div>
                </md-input-container>
            </div>
         </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer(password)">
        Confirm
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>





